<% name = current_user.present? ? current_user.email : 'Blogger' %>

<h1 align="center">Welcome <%= name %></h1>
<!--<p>Find me in app/views/home/index.html.erb</p> -->
<p align="center"><strong>Hi,You can see blogs and also create blog itself.</strong></p>


